
body {
    margin: 0 auto;
    padding: 0;
    width: 80%;
    background: #2D3142;
}
img {
    border: 3px solid white;
}
.container {
    background-color: #2D3142;
    border-radius: 10px;
    font-size: 1.2em; 
    font-size: 20px;
    padding: 10px;
    Height: 80%;
    margin: 0 auto;
    width: 85%;
    justify-content: center;
}
a, H2, H1 {
    
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align:center;
    font-weight: bold;

}

p {

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    text-indent:25px;
}
nav {
    text-align: center;
    background-size: contain;
    height: 50px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family: 'Raleway', sans-serif;
}
nav a {
    padding: 10px;
    color: white;
    font-size: 20px;
}
a {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
  }
  .container {
    width: 80%;
    margin: 0 auto;
  }